head,h1,body{
    color:brown;
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    background-color: bisque;
}
li{
    color:black;
    font-family:'Times New Roman', Times, serif ;
}
img{
    float:left;
    width:464.4px;
    height:662.2px;
}
@media screen and (max-width:600px){
   head,h1,body{
       color:white;
       text-align:center;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       background-color: black;
   }
   li{
       color: white;
       font-family: 'Times New Roman', Times, serif;
   }
   img{
    float:left;
    width:216px;
    height: 308px;
    }
}
@media screen and (min-width:600px) and (max-width:1200px){
    head,h1,body{
        color:cornsilk;
        text-align:center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color:dimgrey;
    }
    li{
        color:cornsilk;
        font-family: 'Times New Roman', Times, serif;
    }
    img{
        float:left;
        width:324px;
        height:462px;
    }
 }